.header{
    display:flex;
    align-items: center;
    background-color: #131921;
    height:60px;
    position: sticky;
    top:0;
    z-index: 200;
}
.header_logo{
    width:100px;
    object-fit: contain;
    margin:0 20px;
    margin-top: 10px;
}
.header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
.header_searchInput{
    width:100%;
    border: none;
    outline: none;
    padding: 10px;
    height:30px
}
.header_searchIcon{
    background-color: #cd9042;
    width:30px !important;
    padding: 2px;
    height:30px !important;
}

.header_nav{
    display: flex;
    color:white;
    justify-content: space-evenly;
    flex:1
}
.header_option{
    display:flex;
    flex-direction: column;
    margin: 0 10px;
}
.header_optionLineOne{
    font-size: 13px;
    cursor: pointer;
}
.header_optionLineTwo{
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
}
.header_optionBasket{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.header_cartValue{
    margin:0 10px;
}

/* .header_logo:hover,.header_nav >div:hover{
    border:1px solid white;
    padding: 5px;
} */