.home_container{
    /* max-width: 1500px; */
}
.home_products{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow:row wrap;
    z-index: 0;
    margin: 20px;
}
